<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Municipality Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="municipality-register.component.css" />
  </head>
  <body>
    <section class="container">
      <header>Belediye Kayıt Sayfası</header>
      <form action="#" class="form">
        <div class="column">
            <div class="select-box">
              <select>
                <option hidden>Şehir</option>
              </select>
            </div>
              <div class="select-box">
              <select>
                <option hidden>İlçe</option>
              </select>
            </div>
          </div>
        <div class="input-box">
          <label>Adres</label>
          <input type="text" required />
        </div>
        <div class="input-box">
          <label>E-Posta</label>
          <input type="text" placeholder="Orn:belediye@iletisim.com.tr" required />
        </div>
        <div class="column">
          <div class="input-box">
            <label>Telefon</label>
            <input type="text"  required />
          </div>
          <div class="input-box">
            <label>Güncel Nüfuz</label>
            <input type="text"  required />
          </div>
        </div>
        <button>Kayıt Oluştur</button>
      </form>
    </section>
  </body>
</html>
